body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-dark{
    background-color: #512DA8 !important;
}
 .jumbotron{
     background-color:  rgb(168, 129, 212) !important;
 }
 .footer{
    background-color:  rgb(195, 162, 233) !important;

 }
 