body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-dark{
    background-color: #512DA8 !important;
}
.navbar{
    margin-bottom: 0 !important;
}
.jumbotron{
    background-color: #9f89d3 !important;
    margin-top: 0 !important;
}
.text-light h1{
    font-size: 5rem !important;
}
.text-light p{
    font-size: 2.5rem !important;
}
