body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-dark{
    background-color: #512DA8 !important;
}
.navbar{
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}
.navbar .navbar-nav li{
    padding-left: 8px;
    padding-top: 10px;
}
.navbar .navbar-collapse .navbar-text{
    float: right;
}
.jumbotron{
    background-color: #9f89d3 !important;
    margin-top: 0 !important;
    border-radius:  0 !important;
    
}
.jumbotron .row-header a
{
    text-decoration: none;
}


h2{
    color: #000 !important;
    font-size: 3.5rem !important;
    font-weight: bold !important;
}
h3{
    color: #000 !important;
    font-size: 3rem !important;
}
h5{
    color: #000 !important;
    font-size: 2.2rem !important;
}
.row-header h1{
    color: #ddd !important;
}
.row-header p{
    color: #ddd !important;
}
.text-dark h1{
    font-size: 4.5rem !important;
    color: #ddd !important;
}
.text-dark p{
    color: #ddd !important;
    font-size: 2rem !important;
    margin-right: 100px;
}
.row-content{
    margin-top: 100px !important;
}
table th{
    font-size: 2.4rem !important;
}
footer{
    background-color: #9f89d3 !important;
    margin-top: 100px;
    padding-top: 100px;
}
.tab-content{
    border-right: 1px solid  #ddd;
    border-bottom: 1px solid  #ddd;
    border-left: 1px solid  #ddd;
    box-shadow: 5px 9px 12px rgb(65, 63, 63);
    padding: 30px;
}
.carousel{
    background-color: #512DA8;
}
.carousel-item{
    height: 300px;
}
.carousel-item img{
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;

}
.carousel-caption{
    margin: 0 0 50px 90px;
}
ol li{
    padding: 0 10px;
}
#carouselButton{
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.modal-header {
    background-color: #512DA8;
    color: #ddd;
  }
  .modal-header .close {
    color: #ddd !important;
  }
  .modal-body {
    background-color: #9575CD;
    color: #ddd;
  }
  